.DS_Store

/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Ignore IDE specific files
.idea/
/target
lib/fast_mmaped_file_rs.so
Gemfile.lock
